<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/static/css/output.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="../node_modules/tw-elements/dist/js/tw-elements.umd.min.js"></script>
</head>
<body class="bg-gray-100">

    <nav class="bg-white shadow">
        <div class="max-w-1xl mx-auto px-2 py-2">
            <div class="flex-1 flex px-6 w-full justify-between">
                <div class="flex">
                    <img src="/static/img/binary_logo.png" alt="Logo" class="logo-img">
                </div>
                <div class="flex">
                    <h1 class="font-bold text-xl items-center justify-center mt-1">{{ data.fullname }}</h1>
                </div>
                <a href="/logout" style="margin: auto 0px">
                    <button class="text-black hover:text-white border border-black hover:bg-black focus:ring-4 focus:outline-none focus:ring-black font-medium rounded-lg text-sm px-5 py-1 text-center me-2 mb-2">Log Out</button>
                </a>
            </div>
        </div>
    </nav>

    <section class="bg-gray-50 p-3 sm:p-5">
        <div class="mx-auto max-w-full px-4 lg:px-12">
            <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
                <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                    <div class="w-full">
                        <span class="px-2 py-1 uppercase font-bold text-black text-sm">
                            Total Transactions: {{ total_transactions }}
                        </span>
                        <span class="px-2 py-1 uppercase font-bold text-black text-sm">
                            Current balance: &#8377;{{ c_balance }}
                        </span>
                        <span class="px-2 py-1 uppercase font-bold text-green-600 text-sm">
                            Credit: &#8377;{{ c_amount }}
                        </span>
                        <span class="px-2 py-1 uppercase font-bold text-red-600 text-sm">
                            Debit: &#8377;{{ d_amount }}
                        </span>
                    </div>
                    <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                        <button type="button" class="openModalButton flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 focus:outline-none">
                            <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                            </svg>
                            Add Transaction
                        </button>
                    </div>
                </div>
                <div class="overflow-x-auto">
                    <table class="w-full text-sm text-left text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-4 py-3">#</th>
                                <th scope="col" class="px-4 py-3">Added By</th>
                                <th scope="col" class="px-4 py-3">Updated By</th>
                                <th scope="col" class="px-4 py-3">Date</th>
                                <th scope="col" class="px-4 py-3">Description</th>
                                <th scope="col" class="px-4 py-3 text-right">Credit</th>
                                <th scope="col" class="px-4 py-3 text-right">Debit</th>
                                <th scope="col" class="px-4 py-3">
                                    <span class="sr-only">Actions</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction_data in transaction_data %}
                            <tr class="border-b">
                                <td class="px-4 py-3">{{ (current_page - 1) * per_page + loop.index }}</td>
                                <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap">{{ transaction_data[1] }}</th>
                                <td class="px-4 py-3">{{ transaction_data[6] }}</td>
                                <td class="px-4 py-3">{{ transaction_data[2] }}</td>
                                <td class="px-4 py-3">{{ transaction_data[3] }}</td>
                                <td class="px-4 py-3 text-right text-green-600">{{ transaction_data[4] }}</td>
                                <td class="px-4 py-3 text-right text-red-600">{{ transaction_data[5] }}</td>
                                <td class="px-4 py-3 flex items-center justify-end">
                                    <button id="apple-imac-27-dropdown-button" data-dropdown-toggle="apple-imac-27-dropdown" class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none" type="button">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                        </svg>
                                    </button>
                                    <div id="apple-imac-27-dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
                                        <ul class="py-1 text-sm text-gray-700" aria-labelledby="apple-imac-27-dropdown-button">
                                            <li>
                                                <a href="#" class="block py-2 px-4 hover:bg-gray-100">Show</a>
                                            </li>
                                            <li>
                                                <a href="#" class="block py-2 px-4 hover:bg-gray-100">Edit</a>
                                            </li>
                                        </ul>
                                        <div class="py-1">
                                            <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
                    <span class="text-sm font-normal text-gray-500">
                        Showing
                        <span class="font-semibold text-gray-900">
                            {{ (current_page - 1) * per_page + 1 }}-{{ current_page * per_page if current_page * per_page < total_transactions else total_transactions }}
                        </span>
                        of
                        <span class="font-semibold text-gray-900">{{ total_transactions }}</span>
                    </span>
                    <ul class="inline-flex items-stretch -space-x-px">
                        {% if current_page > 1 %}
                        <li>
                            <a href="{{ url_for('transactions', page=current_page-1) }}" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                                <span class="sr-only">Previous</span>
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M12.293 4.293a1 1 0 011.414 1.414L8.414 11l5.293 5.293a1 1 0 01-1.414 1.414l-6-6a1 1 0 010-1.414l6-6z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </li>
                        {% endif %}
                        {% for page in range(1, total_pages + 1) %}
                        <li>
                            <a href="{{ url_for('transactions', page=page) }}" class="flex items-center justify-center py-2 px-3 leading-tight {{ 'text-primary-600 bg-primary-50 hover:bg-primary-100 hover:text-primary-700' if i == current_page else 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700' }}">
                                {{ page }}
                            </a>
                        </li>
                        {% endfor %}
                        {% if current_page < total_pages %}
                        <li>
                            <a href="{{ url_for('transactions', page=current_page+1) }}" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                                <span class="sr-only">Next</span>
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414-1.414L11.586 10 6.293 4.707a1 1 0 011.414-1.414l6 6a1 1 0 010 1.414l-6 6z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <!-- Add Transaction Modal -->
    <div id="transactionModal" tabindex="-1" class="flex hidden bg-gray-900 bg-opacity-50 fixed inset-0 justify-center items-center">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow max-h-[680px] overflow-auto">
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                    <h3 class="text-lg font-semibold text-gray-900">
                        Add Transaction
                    </h3>
                    <button type="button" class="closeModalButton text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="popup-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <form class="p-4 md:p-5" method="post" action="/dashboard">
                    <div class="mb-4">
                        <label for="transaction_date" class="block text-sm font-medium text-gray-700">Transaction Date</label>
                        <input type="date" id="transaction_date" name="transaction_date" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" required>
                    </div>
                    <div class="mb-4">
                        <label for="transaction_desc" class="block text-sm font-medium text-gray-700">Transaction Description</label>
                        <input type="text" id="transaction_desc" name="transaction_desc" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" required>
                    </div>
                    <div class="mb-4">
                        <label for="credit" class="block text-sm font-medium text-gray-700">Credit</label>
                        <input type="text" id="credit" name="credit" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                    </div>
                    <div class="mb-4">
                        <label for="debit" class="block text-sm font-medium text-gray-700">Debit</label>
                        <input type="text" id="debit" name="debit" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                    </div>
                    <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const openModalButton = document.querySelector('.openModalButton');
            const closeModalButton = document.querySelector('.closeModalButton');
            const transactionModal = document.getElementById('transactionModal');

            openModalButton.addEventListener('click', () => {
                transactionModal.classList.remove('hidden');
                transactionModal.classList.add('flex');
            });

            closeModalButton.addEventListener('click', () => {
                transactionModal.classList.add('hidden');
                transactionModal.classList.remove('flex');
            });
        });
    </script>
</body>
</html>
